<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Wasabe-Server</display-name>
  <servlet>
		<servlet-name>Wasabe-Server</servlet-name>
		<servlet-class>com.ensai.pfe.wasabe.server.webservice.WasabeServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>Wasabe-Server</servlet-name>
		<url-pattern>/deviceinfo</url-pattern>
	</servlet-mapping>
</web-app>